* {
    background-color: black;
    color:white;
}



.container {
    padding: 100px 20%;
}

body h1 {
    font-family:Arial, Helvetica, sans-serif;
}

body h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}

body .title {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size:40px;

}

body .event-info {
    font-family:Arial, Helvetica, sans-serif;
}

.description {
    display: none;
    border-top: 2px dotted white;
}




.title:hover, .event-info:hover {
    animation: pulse 0.1s 100;

}

@keyframes pulse {
    0% {
      color: black;
    }
    50% {
      color: white;
    }
    100% {
        color: black;      }
  } 

.event-info {
    padding-top: 20px;
}

.container h2 {
    display: none;
    padding-top: 10px;
    border-top: 2px dotted white; 
}

.container h1 {
    font-size:30px;
}

a:link {
    text-decoration: none;
}

@media screen and (max-width: 576px) {
.container {
    padding: 50px 5%;
}
}
